

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  color: #ff0000; /* Replace with your desired color */
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



.location-tile {
  border: 1px solid black;
}




/* MODAL STYLES */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}